@model Elixir.Models.Service

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDichVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDichVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaDichVuHangThang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaDichVuHangThang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDichVu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
